.Purchase {
  display: flex;
  flex-grow: 1;
}

.ItemList {
  display: flex;
  gap: 1%;
  justify-content: space-evenly;
}

.ProcessItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25%;
}

.TotalPrice,
.PaymentNotification {
  display: flex;
  justify-content: center;
}
